

h1 {
    margin-top: 0;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.product-info {
    flex-grow: 1;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: #888;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
