body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.deskripsi {
    text-align: left;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-list .product-item {
    width: 250px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-list .product-item img {
    width: 250px;
    height: 250px;
}

.product-list .product-item p {
    margin: 10px 0;
}

.product-list .product-item .checkout-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
