   /* Gaya untuk input password */
   #password {
    font-size: 35px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
   }

   /* Gaya untuk tombol */
   button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
    margin-right: 10px;
   }

   /* Gaya untuk tombol copy */
   .copy-button {
    background-color: #2196F3;
   }

   /* Gaya untuk tombol baru */
   .new-button {
    background-color: #f44336;
   }

   /* Gaya untuk tombol kembali */
   .back-button {
    background-color: #FF9800;
   }

   /* Gaya untuk tombol hover */
   button:hover {
    opacity: 0.8;
   }

   /* Gaya untuk tombol aktif */
   button:active {
    background-color: #3e8e41;
   }
