.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10;
    left: 0;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    animation: rotate 0.3s infinite linear;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff005e, #ff7f00, #f9ff00, #00ff33, #004cff, #a900ff);
    animation: spin 2s infinite linear;
}

.loader:before {
    animation-delay: -0.5s;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg) scale(0.2);
        opacity: 0.4;
    }
    50% {
        transform: rotateZ(180deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotateZ(360deg) scale(0.2);
        opacity: 0.4;
    }
}

.loading-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    position: relative;
    text-align: center;
    width: 200px;
}

.line-container {
    display: flex;
    align-items: center;
}

.line {
    flex: 1;
    height: 40px; /* Sesuaikan lebar garis sesuai kebutuhan Anda */
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 50px; /* Tambahkan radius untuk ujung-ujung garis */
}

.line:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 90%; /* Sesuaikan lebar animasi sesuai kebutuhan Anda */
    height: 90%;
    background-color: #00ff33;
    border-radius: 50px; /* Tambahkan radius untuk ujung-ujung elemen sebelumnya */
    transform: translateX(-100%); /* Sesuaikan agar animasi berjalan di tengah garis putih */
    animation: progress 2s infinite linear;
}

@keyframes progress {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
